SUPABASE_URL=https://mgkniuqtnskhrkvheqog.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1na25pdXF0bnNraHJrdmhlcW9nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMzMxOTUsImV4cCI6MjA5MjkwOTE5NX0.7jnYWTWDMzoiVlXwz4mGdCoA-gn9Snxqeq2R6WTFjL0
JWT_SECRET=calzados_elegantes_jwt_secret_2026_utepsa
JWT_EXPIRES_IN=8h
PORT=3000
